<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO Demo</title>
  </head>
  <body>
    asdfsa asdfasdf
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
      var socket = io.connect();
      socket.on('connect', function() {
        console.log('Connected to Server');
      });
      $(document).ready(function(){
        $(document).mousemove(function(e){
          socket.emit('mousemove', event.pageX, event.pageY);
        });
      });
    </script>
  </body>
</html>
